{% extends "base_game.html" %}

{% block page_title %}Salto Real Contrarreloj | Math and Beer{% endblock %}
{% block meta_description %}Captura tantas celdas rojas como puedas en 60 segundos{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="../static/css/knight.css">{% endblock %}

{% block game_content %}
    <div id="countdown-overlay"></div>
    <h1 id="title" class="title first-row">Contrarreloj</h1>
    <h2 id="score" class="title fs-6">Celdas: 0</h2>
    <h2 id="timer" class="title small">00:45.00</h2>
    <div class="board-wrapper">
        <table id="matrix">
            <!-- Aquí js pone la matriz de juego-->
        </table>
    </div>
    <button id="back" class="back"><i class="fa-solid fa-arrow-left"></i></button>
    <button id="recharge" class="recharge"><i class="fa-solid fa-rotate-left"></i></button>
    <button class="game_info" data-bs-toggle="modal" data-bs-target="#modal-reglas"><i
            class="fa-solid fa-info"></i></button>

    <div class="modal fade" id="modal-reglas" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark text-light overflow-auto">
                <div class="modal-header displayColumn title fs-3">Salto Real Contrarreloj</div>
                <div class="modal-body">
                    <p class="modalContent">{{ c.summary }}</p>
                    <h3>Reglas:</h3>
                    <ul>
                        {% for ndx, rule in c.rules.items() %}
                        <li class="modalContent">{{ rule }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer myButtons">
                    <button type="button" class="btn btn-secondary"
                        onclick="window.location.reload()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block game_scripts %}
    <script src="../static/scripts/knight_tt.js"></script>
{% endblock %}
