{% extends "base_game.html" %}

{% block page_title %}Tutorial 0h-n0 | Math and Beer{% endblock %}
{% block meta_description %}Aprende a jugar 0h-n0{% endblock %}
{% block extra_css %}{% endblock %}

{% block game_content %}
    <h1 id="title" class="title first-row">0h-n0</h1>
    <h2 id="timer" class="title small"></h2>
    <table id="matrix">
        <!-- Aquí js pone la matriz de juego-->
    </table>
    <button id="back" class="back"><i class="fa-solid fa-arrow-left"></i></button>
{% endblock %}

{% block game_scripts %}
    <script src="../static/scripts/tutorial_0h_n0.js"></script>
{% endblock %}
